<div align="center">
    <div class="box-view">
        <h2>{{this.model.attributes.name}}</h2>
        <p>Location : {{this.model.attributes.location}}</p>
        <p>Timing : {{this.model.attributes.timing}}</p>
        <LinkTo @route="library.details.books" @replace={{true}}>Books Available</LinkTo>
    </div>
</div>

{{outlet}}