{{page-title "Book"}}

<div align="center">
    <h3>{{this.model.name}}</h3>
    <h4><u>DESCRIPTION</u></h4>
    <p>Author : {{this.model.author}}</p>
    <p>Publisher : {{this.model.publisher}}</p>
    <p>Date of Publication : {{this.model.publishedDate}}</p>
    <LinkTo @route="library.details.read-book" @model={{this.model.id}}>Read book</LinkTo>
</div>