{{page-title "Book"}}

<div align="center">
    <h3>{{this.model.attributes.name}}</h3>
    <h4><u>DESCRIPTION</u></h4>
    <p>Author : {{this.model.attributes.author}}</p>
    <p>Publisher : {{this.model.attributes.publisher}}</p>
    <p>Date of Publication : {{get this.model.attributes "published-date"}}</p>
    <LinkTo @route="library.details.read-book" @model={{this.model.id}}>Read book</LinkTo>
</div>