<div align="center">
    <div class="separate">
        Sort By Name :
        <LinkTo @route="library.details.books" @query={{hash sort="asc" }} >Ascending</LinkTo>
        <LinkTo @route="library.details.books" @query={{hash sort="desc" }}>Descending</LinkTo>
    </div>
</div>
<div style="text-align: center;">
    <ul class="myUL">
        {{#each this.model as |book|}}
        <div style="padding:15px">
            <li>
                <LinkTo @route="library.details.books.book" @model={{book.id}}>{{book.name}}</LinkTo>
            </li>
        </div>
        {{/each}}
    </ul>
</div>

{{!-- <div id="id1" {{on 'click' this.action1}}>
    hello
</div> --}}