{{page-title "ReadBook"}}
<div align="center">
    <p><b><u>BOOK DETAILS</u></b></p>
    <h3>{{this.model.name}}</h3>
    <p>Author : {{this.model.author}}</p>
</div>

<div align="center">
    <label for="name">Name</label>
    <Input id="name" @type="text" {{on "change" (action "enteredData" )}} /><br><br>

    <label for="email">Email : </label>
    <Input id="email" @value={{this.email}} @type="text" {{on "change" (action "enteredData" )}} /><br><br>

    <button type="button" {{on 'click' this.getBook}}>Get Book</button>
</div>
{{outlet}}